# build output
dist

# generated types
.astro

# dependencies
node_modules

# pnpm lock file
pnpm-lock.yaml

# environment variables
.env
.env.production

# eslint cache
.eslintcache

# vite-pwa/astro
dev-dist

# firebase
.firebaserc
.firebase
