@import url('./global.css');

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;

  & .wrapper {
    position: relative;
    margin-inline: auto;
    width: max-content;

    & input {
      background: var(--highlight);
      width: 320px;
      border-radius: 4px;
      padding-block: 12px;
      text-align: center;
      font-size: 36px;
      font-weight: 600;
      appearance: textfield;

      &:focus {
        outline: 3px solid var(--highlight);
      }

      &::-webkit-inner-spin-button {
        appearance: none;
        margin: 0;
      }
    }

    & button {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 36px;
      height: 50%;
      border-top-right-radius: 4px;
      font-weight: 700;
      cursor: pointer;
      transition: color 300ms ease, background 300ms ease;

      &[disabled] {
        cursor: not-allowed;
        opacity: 0.5;
      }

      & + button {
        top: initial;
        bottom: 0;
      }

      &:active:not([disabled]) {
        background: var(--highlight);
      }

      @media (any-hover: hover) {
        &:hover:not([disabled]) {
          background: var(--highlight);
        }
      }
    }
  }
}

.output-container {
  display: grid;

  & .output-total,
  & .output-label {
    grid-area: 1 / 1;
    transition: opacity 300ms ease;

    &.is-hidden {
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
    }
  }

  & .output-total {
    display: flex;
    flex-direction: column;
    margin-top: 4px;
    width: 250px;
    margin-inline: auto;

    @media (width >= 768px) {
      width: initial;
    }

    & output {
      border-radius: 4px;
      font-size: 36px;
      font-weight: 700;
      color: var(--success);
    }

    & small {
      display: flex;
      gap: 2px;
      margin-top: 12px;

      @media (width >= 768px) {
        align-items: center;
      }

      & svg {
        flex-shrink: 0;
        translate: 0px 1.5px;

        @media (width >= 768px) {
          translate: 0px -0.5px;
        }

        @media (width >= 1536px) {
          translate: 0px 0.5px;
        }
      }
    }
  }

  & .output-label {
    margin-top: 2px;
    margin-inline: 16px;
    font-size: 18px;
    font-weight: 700;
    color: var(--error);
  }
}
