---
import Author from '@components/Author.astro'
import Layout from '@layouts/Layout.astro'
import { Icon } from 'astro-iconify'

import { DESCRIPTION, INITIAL_VALUE, BANK_FEE, PAYONEER_FEE, PAYONEER_FEE_EXTRACT } from '@data/constants'

const options = {
  title: '¿Cómo Funciona la Calculadora de Payoneer?',
  description: DESCRIPTION
}
---

<Layout options={options}>
  <main class="min-h-screen space-y-8 bg-[#ff4800]/10 py-8">
    <div class="mx-auto max-w-4xl space-y-6 px-4">
      <section class="flex items-center gap-1 text-[#783F2A]">
        <span>
          <Icon name="material-symbols:chevron-left-rounded" size={22} />
        </span>
        <a class="font-semibold active:underline any-hover:underline" href="/">
          Regresar
        </a>
      </section>
      <article class="space-y-4 text-[#783F2A]">
        <h1 class="mb-8 text-4xl font-bold">
          ¿Cómo Funciona la Calculadora de Payoneer?
        </h1>
        <p>
          Esta calculadora es una
          <a
            class="font-semibold underline"
            href="https://felixicaza.com/blog/que-son-las-progressive-web-apps"
            target="_blank"
            rel="noopener noreferrer"
          >
            Progressive Web App (PWA)
          </a>
          , lo que significa que combina lo mejor de las aplicaciones web y
          móviles. Aquí puedes conocer algunas de sus características clave:
        </p>
        <ul class="ml-8 list-disc space-y-2">
          <li>
            <strong>Instalación Fácil:</strong>
            Puedes instalar la calculadora directamente en tu dispositivo desde el
            navegador, sin necesidad de pasar por una tienda de aplicaciones.
          </li>
          <li>
            <strong>Funciona sin Conexión:</strong>
            Una vez instalada, la calculadora
            puede funcionar sin conexión a Internet, permitiéndote hacer cálculos
            en cualquier momento y lugar.
          </li>
          <li>
            <strong>Actualizaciones Automáticas:</strong>
            Las PWAs se actualizan automáticamente cada vez que hay una nueva versión
            disponible, garantizando que siempre tengas las últimas mejoras y características.
          </li>
          <li>
            <strong>Interfaz Responsiva:</strong>
            La calculadora está diseñada para funcionar perfectamente en cualquier
            dispositivo, ya sea un teléfono móvil, una tableta o una computadora
            de escritorio.
          </li>
        </ul>
        <p>
          La calculadora de Payoneer te permite estimar el total que necesitas
          para retirar el dinero, teniendo en cuenta las tarifas aplicables.
          Aquí conocerás paso a paso cómo se realiza el cálculo:
        </p>
        <ul class="ml-8 list-disc space-y-2">
          <li>
            <strong>Monto Inicial:</strong>
            La calculadora comienza con un valor
            inicial de
            {new Intl.NumberFormat('en-US', {
              style: 'currency',
              currency: 'USD'
            }).format(INITIAL_VALUE)}
            , que es el monto mínimo que puedes retirar en un Cajero
            ATM.
          </li>
          <li class="space-y-2">
            <strong>Cálculo de Tarifas:</strong>
            <ul class="ml-8 list-disc space-y-2">
              <li>
                <strong>Tarifa de Banco:</strong>
                Se aplica una tarifa fija de
                {new Intl.NumberFormat('en-US', {
                  style: 'currency',
                  currency: 'USD'
                }).format(BANK_FEE)}
                .
              </li>
              <li>
                <strong>Tarifa de Payoneer:</strong>
                Se aplica una tarifa fija de
                {new Intl.NumberFormat('en-US', {
                  style: 'currency',
                  currency: 'USD'
                }).format(PAYONEER_FEE)}
                .
              </li>
              <li>
                <strong>Tarifa de Extracción de Payoneer:</strong>
                Se calcula como el
                {`${(PAYONEER_FEE_EXTRACT * 100).toFixed(2)}%`}
                del monto a retirar.
              </li>
            </ul>
          </li>
          <li class="space-y-2">
            <strong>Cálculo Total:</strong>
            <ul class="ml-8 list-disc space-y-2">
              <li>
                El total a recibir se calcula sumando el monto a retirar, la
                tarifa fija de Payoneer, la tarifa de banco y el porcentaje de
                extracción de Payoneer.
              </li>
              <li>
                La fórmula para el cálculo total es:
                <em>Total a recibir = ( monto a retirar × {PAYONEER_FEE_EXTRACT} ) + {BANK_FEE} + {PAYONEER_FEE} +
                  monto a retirar
                </em>
                .
              </li>
            </ul>
            <li>
              Este total se muestra en la sección de resultados, formateado en
              dólares estadounidenses (USD).
            </li>
          </li>
        </ul>
      </article>
    </div>

    <Author />
  </main>
</Layout>
