---
import Layout from '@layouts/Layout.astro'
import { Icon } from 'astro-iconify'
import Calculator from '@components/Calculator.tsx'
import Author from '@components/Author.astro'

import { DESCRIPTION } from '@data/constants'

const options = {
  title: 'Calculadora de Comisiones de Payoneer en Nicaragua',
  description: DESCRIPTION
}
---

<Layout options={options}>
  <main>
    <article>
      <h1>Calculadora Payoneer Nicaragua</h1>
      <Calculator client:load />
    </article>

    <footer>
      <p>
        <span>
          <Icon name="bi:info-circle-fill" size={14} />
        </span>
        <a href="/como-funciona">¿Cómo funciona?</a>
      </p>

      <Author />
    </footer>
  </main>
</Layout>

<style>
  main {
    display: grid;
    height: 100svh;
    grid-template-rows: 1fr;
    background: color-mix(in srgb, #ff4800 10%, transparent);
    padding: 32px 16px;
    text-align: center;

    article {
      align-self: center;

      h1 {
        font-size: 48px;
        line-height: 1;
        font-weight: bold;
        color: #572E1E;
        margin-bottom: 32px;
      }
    }

    footer {
      display: flex;
      flex-direction: column;
      gap: 20px;
      color: #572E1E;

      p {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;

        svg {
          translate: 0 1px;
        }
      }

      a {
        font-weight: 600;

        &:active {
          text-decoration: underline;
        }

        @media (any-hover: hover) {
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
</style>
