---
import Layout from '@layouts/Layout.astro'

import Calculator from '@components/Calculator.tsx'

const options = {
  title: 'Calculadora de Comisiones de Payoneer en Nicaragua',
  description:
    'Calcula de manera FÁCIL, RÁPIDA Y SEGURA, todas las COMISIONES DE PAYONEER Y DEL BANCO aplicadas al momento de realizar un retiro de un CAJERO ATM en Nicaragua.'
}
---

<Layout {options}>
  <main class="grid h-svh grid-rows-1 bg-[#ff4800]/10 px-4 py-8 text-center">
    <article class="self-center">
      <h1 class="mb-8 text-5xl font-bold text-[#783F2A]">
        Calculadora Payoneer Nicaragua
      </h1>
      <Calculator client:load />
    </article>
    <footer class="flex items-center justify-center gap-2 text-[#783F2A]">
      Desarrollado por <a
        href="https://felixicaza.com"
        target="_blank"
        aria-label="Sitio web de Félix Icaza"
      >
        <img
          width="120"
          src="/img/logo.svg"
          alt="Félix Icaza Logo"
          fetchpriority="high"
        />
      </a>
    </footer>
  </main>
</Layout>
