---
import Layout from '@layouts/Layout.astro'

import Calculator from '@components/Calculator.tsx'

const options = {
  title: 'Calculadora Payoneer Nicaragua',
  description:
    'Calculadora de Impuestos de Payoneer, con la cual puedes calcular todas las comisiones aplicadas al momento de realizar un retiro de un cajero en Nicaragua.'
}
---

<Layout {options}>
  <main
    class="flex h-svh flex-col items-center justify-center gap-8 bg-[#ff4800]/10 px-4 text-center"
  >
    <h1 class="text-5xl font-bold text-[#e39578]">{options.title}</h1>
    <Calculator client:load />
  </main>
</Layout>
