---
import Layout from '@layouts/Layout.astro'
import { Icon } from 'astro-iconify'
import Calculator from '@components/Calculator.tsx'
import Author from '@components/Author.astro'

import { DESCRIPTION } from '@data/constants'

const options = {
  title: 'Calculadora de Comisiones de Payoneer en Nicaragua',
  description: DESCRIPTION
}
---

<Layout options={options}>
  <main class="grid h-svh grid-rows-1 bg-[#ff4800]/10 px-4 py-8 text-center">
    <article class="self-center">
      <h1 class="mb-8 text-5xl font-bold text-[#783F2A]">
        Calculadora Payoneer Nicaragua
      </h1>
      <Calculator client:load />
    </article>

    <footer class="space-y-5 text-[#783F2A]">
      <p class="flex items-center justify-center gap-1.5">
        <span>
          <Icon class="translate-y-px" name="bi:info-circle-fill" size={14} />
        </span>
        <a class="font-semibold active:underline any-hover:underline" href="/como-funciona">
          ¿Cómo funciona?
        </a>
      </p>

      <Author />
    </footer>
  </main>
</Layout>
