<p>
  Desarrollado por
  <a href="https://felixicaza.com" target="_blank" aria-label="Sitio web de Félix Icaza">
    <img width="120" src="/img/logo.svg" alt="Félix Icaza Logo" fetchpriority="high" />
  </a>
</p>

<style>
  p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: #572E1E;

    img {
      aspect-ratio: 120 / 44;
    }
  }
</style>
