<p class="flex items-center justify-center gap-2 text-[#783F2A]">
  Desarrollado por
  {' '}
  <a href="https://felixicaza.com" target="_blank" aria-label="Sitio web de Félix Icaza">
    <img width="120" src="/img/logo.svg" alt="Félix Icaza Logo" fetchpriority="high" />
  </a>
</p>
