---
import '@styles/tailwind.css'

interface Options {
  title: string
  description: string
}

interface Props {
  options: Options
}

const { options } = Astro.props
const { title, description } = options
---

<!doctype html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <title>{title}</title>

    <meta name="robots" content="index, follow" />
    <meta name="description" content={description} />
    <meta name="author" content="Félix Icaza - https://felixicaza.com" />
    <link rel="canonical" href={Astro.url.href} />
  </head>
  <body>
    <slot />
  </body>

  <script>
    import '@scripts/logger.js'
  </script>
</html>
