---
import { pwaInfo } from 'virtual:pwa-info'

import SplashScreens from '@components/SplashScreens.astro'

import '@styles/global.css'

interface Options {
  title: string
  description: string
}

interface Props {
  options: Options
}

const { options } = Astro.props
const { title, description } = options
---

<!doctype html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <title>{title}</title>

    <link crossorigin href="//www.googletagmanager.com/" rel="preconnect" />
    <link crossorigin href="//www.google-analytics.com/" rel="preconnect" />

    <link href="/img/logo.svg" rel="preload" type="image/svg+xml" as="image" fetchpriority="high" />

    <style is:inline>
      @view-transition {
        navigation: auto;
      }
    </style>

    <meta name="robots" content="index, follow" />
    <meta name="description" content={description} />
    <meta name="author" content="Félix Icaza - https://felixicaza.com" />
    <link rel="canonical" href={Astro.url.href} />
    <meta name="google-site-verification" content="IJH7DDHaPX1Us0he6rNkTPlC_9I5G5aktg3SKheBUNw" />

    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png" />
    <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#ffece5" />
    <meta name="msapplication-TileColor" content="#ffece5" />
    <meta name="theme-color" content="#ffece5" />

    {pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />}
    <script src="/src/scripts/pwa.ts"></script>

    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="apple-mobile-web-app-title" content="Calculadora Payoneer" />
    <meta name="application-name" content="Calculadora Payoneer" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />

    <SplashScreens />
  </head>
  <body class:list={{ 'h-svh overflow-hidden': Astro.url.pathname === '/' }}>
    <slot />
  </body>

  <script>
    import { initializeApp } from 'firebase/app'
    import { getAnalytics } from 'firebase/analytics'

    if (window.location.hostname === 'payoneer-calculator.web.app') {
      const firebaseConfig = {
        apiKey: 'AIzaSyAIt_klG3dCmYCPx00BLShcBj6xRHpQf2M',
        authDomain: 'payoneer-calculator.firebaseapp.com',
        projectId: 'payoneer-calculator',
        storageBucket: 'payoneer-calculator.appspot.com',
        messagingSenderId: '833757324098',
        appId: '1:833757324098:web:56d381a923cec448b41edb',
        measurementId: 'G-CMRJTB4RHV'
      }

      const app = initializeApp(firebaseConfig)
      getAnalytics(app)
    }
  </script>
</html>
