name: Deploy project

"on":
   push:
      branches: [main]

jobs:
   build_deploy:
      if: ${{ !contains(github.event.head_commit.message, 'bump') }}
      runs-on: ubuntu-latest

      steps:
         - uses: actions/checkout@v5.0.0

         - name: Install node
           uses: actions/setup-node@v6.0.0
           with:
              node-version: lts/*

         - name: Install pnpm
           uses: pnpm/action-setup@v4.2.0
           with:
              version: latest

         - name: Install dependencies
           run: pnpm install

         - name: Build project
           run: pnpm build

         - name: Deploy project to Firebase
           uses: FirebaseExtended/action-hosting-deploy@v0.10.0
           with:
              repoToken: "${{ secrets.GITHUB_TOKEN }}"
              firebaseServiceAccount: "${{ secrets.FIREBASE_SERVICE_ACCOUNT_PAYONEER_CALCULATOR }}"
              channelId: live
              projectId: payoneer-calculator
